@import url('https://fonts.googleapis.com/css?family=Merienda+One|Quicksand');

* {
  font-family: 'Quicksand', sans-serif;
}

.header {
  font-family: 'Merienda One', cursive;
  margin: 0;
}

.header--1 {
  font-size: 72px;
}
