$headshotSize: 48px;
$headshotLargeSize: 336px;

.headshot {
  z-index: 20;
  width: $headshotSize;
  height: $headshotSize;
}

.headshot--raised {
  position: relative;
  top: -#{$headshotLargeSize/2};
  width: $headshotLargeSize;
  height: $headshotLargeSize;
}
